<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
	<title>小米商城-小米官方网站，小米手机、红米手机正品专卖</title>
	<link rel="stylesheet" href="{ICON_PATH}iconfont.css">
	<link rel="stylesheet" href="{CSS_PATH}index.css">
	<link rel="stylesheet" href="{CSS_PATH}swiper.min.css">
	<script src="{JS_PATH}rem1.js"></script>
	<script src="{JS_PATH}swiper.min.js"></script>

	<style>
		html, body {
			position: relative;
			height: 100%;
		}
		body {
			background: #eee;
			font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
			font-size: 14px;
			color:#000;
			margin: 0;
			padding: 0;
		}
		.swiper-container {
			width: 100%;
			height: 100%;
		}
		.swiper-slide {
			text-align: center;
			font-size: 18px;
			background: #fff;
			/* Center slide text vertically */
			display: -webkit-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			-webkit-justify-content: center;
			justify-content: center;
			-webkit-box-align: center;
			-ms-flex-align: center;
			-webkit-align-items: center;
			align-items: center;
		}
		.banner{
			width: 100%;
			height:3.2rem;
		}
	</style>

</head>
	<div class="wrap">
		<!-- 顶部 -->
		<div class="header">
			<div class="sys">
				<a href=""><i class="iconfont icon-social-logo-500px"></i></a>
			</div>
			<div class="search">
				<i class="iconfont">&#xe70b;</i><input type="text" placeholder="笔记本Air">
			</div>
			<div class="mail">
				<a href=""><i class="iconfont icon-xiaoxizhongxin"></i></a>
			</div>
		</div>
		<!-- 标签-->
		<div class="nav">
			<ul>
				<li ><a href="" class="active">推荐</a></li>
				<li><a href="">手机</a></li>
				<li><a href="">智能</a></li>
				<li><a href="">电视</a></li>
				<li><a href="">电脑</a></li>
				<li><a href="">生活周边</a></li>
			</ul>
			<div class="dot">
				
			</div>
		</div>

		<!-- content -->
		<div class="content">
			<!-- banner -->
			<div class="banner">
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide"><a href=""><img src="{IMG_PATH}banner1.png" alt=""></a></div>
						<div class="swiper-slide"><a href=""><img src="{IMG_PATH}banner_07.png" alt=""></a></div>
						<div class="swiper-slide"><a href=""><img src="{IMG_PATH}banner_07.png" alt=""></a></div>
					</div>
					<!-- Add Scrollbar -->
					<div class="swiper-scrollbar"></div>
				</div>
				<!--<li>-->
					<!--<a href=""><img src="{IMG_PATH}banner_07.png" alt=""></a>-->
				<!--</li>-->
				<!--<li>-->
					<!--<a href=""><img src="{IMG_PATH}banner_07.png" alt=""></a>-->
				<!--</li>-->
				<!--<li>-->
					<!--<a href=""><img src="{IMG_PATH}banner_07.png" alt=""></a>-->
				<!--</li>-->
			</div>
			<div class="banner_bottom">
				<div class="items"><a href="erji.html"><img src="{IMG_PATH}594dec83-b317-175c-1916-e73c591452b7!180x152.webp" alt=""></a></div>
				<div class="items"><a href=""><img src="{IMG_PATH}82d92b9e-63fa-16d5-2a37-a1675c72351a!180x152.webp" alt=""></a></div>
				<div class="items"><a href=""><img src="{IMG_PATH}0437c9f2-dfba-a19f-d8d6-472e107bc4ca!180x152.webp" alt=""></a></div>
				<div class="items"><a href=""><img src="{IMG_PATH}6b06addd-6460-aa48-bdb2-043292b3d141!180x152.webp" alt=""></a></div>
			</div>
			<div class="space"></div>
			<!--/////新品/////-->
			<div class="news">
				<div class="newCd">
					<a href=""><img src="{IMG_PATH}c7d22527-035b-22fe-3aec-d9c8326ef093!358x508.webp" alt=""></a>
				</div>
				<div class="newCd">
					<a href=""><img src="{IMG_PATH}c969dbde-8611-ac35-95ce-f147b51165e7!358x252.webp" alt=""></a>
					<a href=""><img src="{IMG_PATH}e2ad0dbf777fda097e55cea9ce716e33.jpg" alt="" style="margin-top: .034rem"></a>
				</div>
			</div>
			<!--/////新品/////-->
			<div class="space"></div>
			<div><a href=""><img src="{IMG_PATH}740f7289-747e-f4f5-d23a-5688e0864b10!720x280.webp" alt="" style="width: 100%;"></a></div>
			<div class="space"></div>
			<div><a href=""><img src="{IMG_PATH}97991418-9691-d7ca-1b3a-57147b6c8232!720x280.webp" alt="" style="width: 100%;"></a></div>
			<div class="space"></div>
			<div><a href=""><img src="{IMG_PATH}0ba292dc-bac2-a90b-6168-78bb755d833f!720x440.webp" alt="" style="width: 100%;"></a></div>
			<div class="space"></div>
			<div class="news">
				<div class="newCd">
					<a href=""><img src="{IMG_PATH}11a2b2b9-8deb-5177-ac51-eb9c07b03c31!360x360.webp" alt=""></a>
					<div class="info" style="width: 100%;padding: .05rem .2rem;box-sizing: border-box;">
						<div style="font-size: .28rem;font-weight: 400;">红米5</div>
						<div style="font-size: .2rem;color: rgba(0,0,0,0.58);">千元全面屏，前置柔光自拍</div>
						<div class="price">799<span>起</span></div>
					</div>
					<a href=""><img src="{IMG_PATH}55f43fdd-13a0-c8d8-231d-1ce2005c7327!360x360.webp" alt="" style="margin-top: .034rem"></a>
					<div class="info" style="width: 100%;padding: .05rem .2rem;box-sizing: border-box;">
						<div style="font-size: .28rem;font-weight: 400;">小米移动电源高配版</div>
						<div style="font-size: .2rem;color: rgba(0,0,0,0.58);"> 轻薄设计，轻松出行</div>
						<div class="price">149<span></span></div>
					</div>
					<a href=""><img src="{IMG_PATH}497e767f-ee21-4fc5-e55d-3525cc5f6987!360x360.webp" alt="" style="margin-top: .034rem"></a>
					<div class="info" style="width: 100%;padding: .05rem .2rem;box-sizing: border-box;">
						<div style="font-size: .28rem;font-weight: 400;">小米圈铁耳机Pro</div>
						<div style="font-size: .2rem;color: rgba(0,0,0,0.58);">好故事，让好声音述说</div>
						<div class="price">149<span></span></div>
					</div>
				</div>
				<div class="newCd">
					<a href=""><img src="{IMG_PATH}ba0edad3-31af-7c3b-c6cb-b37de5b2f172!360x360.webp" alt=""></a>
					<div class="info" style="width: 100%;padding: .05rem .2rem;box-sizing: border-box;">
						<div style="font-size: .28rem;font-weight: 400;">红米Note 5A 16GB</div>
						<div style="font-size: .2rem;color: rgba(0,0,0,0.58);">5.5"高清大屏</div>
						<div class="price">699<span></span></div>
					</div>
					<a href=""><img src="{IMG_PATH}65eeeedca463345b0cfd36e042185af3.jpg" alt="" style="margin-top: .034rem"></a>
					<div class="info" style="width: 100%;padding: .05rem .2rem;box-sizing: border-box;">
						<div style="font-size: .28rem;font-weight: 400;">米家感应夜灯</div>
						<div style="font-size: .2rem;color: rgba(0,0,0,0.58);">举步之间，光明立现</div>
						<div class="price">49<span></span></div>
					</div>
					<a href=""><img src="{IMG_PATH}095e2d20-0a05-1649-7ffe-8f88e3e6c5b5!360x360.webp" alt="" style="margin-top: .034rem"></a>
					<div class="info" style="width: 100%;padding: .05rem .2rem;box-sizing: border-box;">
						<div style="font-size: .28rem;font-weight: 400;">米家声波电动牙刷</div>
						<div style="font-size: .2rem;color: rgba(0,0,0,0.58);">高效动力，刷的干净</div>
						<div class="price">199<span></span></div>
					</div>
				</div>
			</div>
			<div class="space"></div>
			<div><a href=""><img src="{IMG_PATH}c7d89cd9-c08d-0296-f34d-fcc7406a2a44!720x280.webp" alt="" style="width: 100%;"></a></div>

			<div class="space"></div>
			<div class="card">
				<div class="cd">
					<a href="detail1.html">
						<div class="img">
							<img src="{IMG_PATH}m6.jpg" alt="">
							<div class="img_small"><img src="{IMG_PATH}c3cd38eb79874d6639d1ea48ac891594.png" alt=""></div>
						</div>
						<div class="txt">
							<div class="top">
								<div class="left">小米6 新版本</div>
								<div class="right"><span>￥</span>2299</div>
							</div>
							<div class="bottom">
								<div class="brief">高通骁龙835旗舰处理器</div>
								<div class="buy">立即预约</div>
							</div>
						</div>
					</a>
				</div>
				<div class="cd">
					<a href="">
						<div class="img">
							<img src="{IMG_PATH}MIX2.jpg" alt="">
							<div class="img_small"><img src="{IMG_PATH}c3cd38eb79874d6639d1ea48ac891594.png" alt=""></div>
						</div>
						
						<div class="txt">
							<div class="top">
								<div class="left">小米MIX 2 6GB+128GB</div>
								<div class="right"><span>￥</span>3599</div>
							</div>
							<div class="bottom">
								<div class="brief">全面屏2.0，骁龙835旗舰处理器 </div>
								<div class="buy">立即预约</div>
							</div>
						</div>
					</a>
				</div>
				<div class="cd_small">
					<a href="">
						<div class="img">
							<img src="{IMG_PATH}MIX.jpg" alt="">
							<div class="img_small"><img src="{IMG_PATH}c3cd38eb79874d6639d1ea48ac891594.png" alt=""></div>
						</div>
						
						<div class="txt">
							<div class="top">
								<div class="left">MIX 2 全陶瓷尊享版</div>
								<div class="brief">Unibody 全陶瓷</div>
								
							</div>
							<div class="bottom">
								<div class="right"><span>￥</span>4699</div>
								<div class="buy">立即预约</div>
							</div>
						</div>
					</a>
					<a href="index_detail.html">
						<div class="img">
							<img src="{IMG_PATH}NOTE3.jpg" alt="">
							<div class="img_small"><img src="{IMG_PATH}c3cd38eb79874d6639d1ea48ac891594.png" alt=""></div>
						</div>
						
						<div class="txt">
							<div class="top">
								<div class="left">小米Note 3 限量版</div>
								<div class="brief">吴亦凡参与设计</div>
								
							</div>
							<div class="bottom">
								<div class="right"><span>￥</span>2399</div>
								<div class="buy">立即预约</div>
							</div>
						</div>
					</a>
				</div>
			</div>
			<div class="adv"><img src="{IMG_PATH}yinghuo.jpg" alt=""></div>
			<div class="card">
				<div class="cd">
					<a href="">
						<div class="img">
							<img src="{IMG_PATH}651c0882fef457df95973926257d7639.jpg" alt="">
							<div class="img_small"><img src="{IMG_PATH}e8c0c434ef036625761449fb099be8ab.png" alt=""></div>
						</div>
						
						<div class="txt">
							<div class="top">
								<div class="left">小米5X 红色特别版</div>
								<div class="right"><span>￥</span>1499</div>
							</div>
							<div class="bottom">
								<div class="brief">变焦双摄，5.5''大屏轻薄全金属</div>
								<div class="buy">立即预约</div>
							</div>
						</div>
					</a>
				</div>
				<div class="cd">
					<a href="">
						<div class="img">
							<img src="{IMG_PATH}8146c244cf304a577d227fc6e626341e.jpg" alt="">
							<div class="img_small"><img src="{IMG_PATH}c3cd38eb79874d6639d1ea48ac891594.png" alt=""></div>
						</div>
						
						<div class="txt">
							<div class="top">
								<div class="left">小米Max 2 大屏大电量</div>
								<div class="right"><span>￥</span>1399</div>
							</div>
							<div class="bottom">
								<div class="brief">6.44" 大屏，5300mAh大电量</div>
								<div class="buy">立即预约</div>
							</div>
						</div>
					</a>
				</div>
				<div class="cd">
					<a href="">
						<div class="img">
							<img src="{IMG_PATH}NOTE5.JPG" alt="">
							<div class="img_small"><img src="{IMG_PATH}c3cd38eb79874d6639d1ea48ac891594.png" alt=""></div>
						</div>
						
						<div class="txt">
							<div class="top">
								<div class="left">红米Note 5A 标准版</div>
								<div class="right"><span>￥</span>699</div>
							</div>
							<div class="bottom">
								<div class="brief">5.5"高清大屏，3080mAh长续航 </div>
								<div class="buy">立即预约</div>
							</div>
						</div>
					</a>
				</div>
				<div class="cd_small">
					<a href="">
						<div class="img">
							<img src="{IMG_PATH}deac084f-ab59-20af-e900-ba888e696cc7.webp" alt="">
							<div class="img_small"><img src="{IMG_PATH}6e5f74c81926eb7df5ead2dcd7878fc4.png" alt=""></div>
						</div>
						
						<div class="txt">
							<div class="top">
								<div class="left">小米Note 3 </div>
								<div class="brief">1600万美颜自拍</div>
								
							</div>
							<div class="bottom">
								<div class="right"><span>￥</span>2199<span>起</span><del>￥2499</del></div>
								<div class="buy">立即预约</div>
							</div>
						</div>
					</a>
					<a href="">
						<img src="{IMG_PATH}94aa08a4-8065-a875-e621-d6442f5a2835.webp" alt="">
						<div class="txt">
							<div class="top">
								<div class="left">红米Note 4X 浅蓝色</div>
								<div class="brief">金属机身，超长续航</div>
								
							</div>
							<div class="bottom">
								<div class="right"><span>￥</span>999 <span>起</span></div>
								<div class="buy">立即预约</div>
							</div>
						</div>
					</a>
				</div>
			</div>
			<div class="adv"><img src="{IMG_PATH}yinghuo.jpg" alt=""></div>
			<div class="card">
				<div class="cd">
					<a href="">
						<img src="{IMG_PATH}651c0882fef457df95973926257d7639.jpg" alt="">
						<div class="txt">
							<div class="top">
								<div class="left">小米5X 红色特别版</div>
								<div class="right"><span>￥</span>1499</div>
							</div>
							<div class="bottom">
								<div class="brief">变焦双摄，5.5''大屏轻薄全金属</div>
								<div class="buy">立即预约</div>
							</div>
						</div>
					</a>
				</div>
				<div class="cd_small">
					<a href="">
						<img src="{IMG_PATH}deac084f-ab59-20af-e900-ba888e696cc7.webp" alt="">
						<div class="txt">
							<div class="top">
								<div class="left">小米Note 3 </div>
								<div class="brief">1600万美颜自拍</div>
								
							</div>
							<div class="bottom">
								<div class="right"><span>￥</span>2199<span>起￥</span><del>2499</del></div>
								<div class="buy">立即预约</div>
							</div>
						</div>
					</a>
					<a href="">
						<img src="{IMG_PATH}94aa08a4-8065-a875-e621-d6442f5a2835.webp" alt="">
						<div class="txt">
							<div class="top">
								<div class="left">红米Note 4X 浅蓝色</div>
								<div class="brief">金属机身，超长续航</div>
								
							</div>
							<div class="bottom">
								<div class="right"><span>￥</span>999 <span>起</span></div>
								<div class="buy">立即预约</div>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>

</div>
		<!-- TAB -->
<div class="tab">
	<div class="shouye">
		<a href="/profect/index.php/index/index" class="hot"><i class="iconfont">&#xe611;</i></a>
		首页
	</div>
	<div class="list">
		<a href="/profect/index.php/index/index_list"><i class="iconfont">&#xe615;</i></a>
		分类
	</div>
	<div class="shop">
		<a href="/profect/index.php/index_shop/index"><i class="iconfont">&#xe648;</i></a>
		购物车
	</div>
	<div class="user">
		<a href="/profect/index.php/reg/my"><i class="iconfont">&#xe608;</i></a>
		我的
	</div>
</div>


	<script>
        var swiper = new Swiper('.swiper-container', {
            loop: true,
   /*         scrollbar: {
                el: '.swiper-scrollbar',
                hide: true
            },*/
			autoplay:true,
            slidesPerView: 'auto',
            loopedSlides: 0,
            followFinger : false,
        });
	</script>
</body>
</html>