<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
	<link rel="stylesheet" href="{CSS_PATH}zhuce.css">
	<link rel="stylesheet" href="https://at.alicdn.com/t/font_463012_i6ecsgt2sgiudi.css">
	<script src="{JS_PATH}rem.js"></script>
	<script src="{JS_PATH}jquery-3.2.1.js"></script>
	<script src="{JS_PATH}reg.js"></script>
	<title>注册账号</title>
</head>
<body>
	<div class="login">
		<div class="top">
			<ul>
				<li><img src="{IMG_PATH}login2_05.png" alt=""></li>
				<li><img src="{IMG_PATH}login1_05.png" alt=""></li>
				<li><img src="{IMG_PATH}login_05.png" alt=""></li>
			</ul>
		</div>
		<form class="bottom">
			<a>输入手机号</a>
			<input type="text" placeholder="您可以通过手机号/邮箱 注册 " name="regname">
			<input type="tel" placeholder="请输入手机号">
			<input type="password" placeholder="请设置用户密码" name="regpsd">
			<input type="button" value="注册">
		</form>
		<div class="zc">
			<input type="checkbox">注册即表示同意<a href="">用户协议</a>和<a href="">隐私政策</a>
		</div>
		<div class="dsf">
			<a href=""><i class="iconfont">&#xe643;</i>微信</a>
			<a href=""><i class="iconfont">&#xe654;</i>QQ</a>
			<a href=""><i class="iconfont">&#xe627;</i>微博</a>
		</div>
		<a href="/profect/index.php/reg/loginShow" class="back iconfont">&#xe615;</a>
	</div>
</body>
</html>