<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
    <title>分类</title>
    <link rel="stylesheet" href="{CSS_PATH}list.css">
    <!--<link rel="stylesheet" href="https://at.alicdn.com/t/font_468234_v3bwh2zky1zto6r.css">-->
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_471281_q3579c31v4lblnmi.css">
    <script src="{JS_PATH}jquery-3.2.1.js"></script>
    <script src="{JS_PATH}rem1.js"></script>
</head>
<body>
<div class="wrap">
    <div class="header">
        <div class="search">
            <i class="iconfont">&#xe70b;</i>
            <input type="text" value="红米Note 4X 赠活塞耳机">
        </div>
        <div class="mail">
            <a href="">
                <i class="iconfont">&#xe996;</i>
            </a>
        </div>
    </div>
    <div class="content">
        <div class="lists">
            <ul>
                {for $var=0 to 9}
                <li>
                    <a href="javascript:;">
                        {$data[$var]['cname']}
                    </a>
                </li>
                {/for}
            </ul>
        </div>
        <div class="right">
            {for $i=0 to 9}
            <div class="js_items">
                <div class="img">
                    <a href=""><img src="{$data[$i]['cthumb']}" alt=""></a>
                </div>
                <!-- 手机 -->
                <div class="title">
                    <span></span>
                    {$data[$i]['cname']}
                    <span></span>
                </div>
                <div class="lis">
                    <ul>
                        {foreach $arr[$i] as $val}
                        <li>
                            <a href="/profect/index.php/index/goodsList?cid={$val['cid']}">
                                <img src="{$val['cthumb']}" alt="">
                                <p>{$val['cname']}</p>
                            </a>
                        </li>
                        {/foreach}
                    </ul>
                </div>
            </div>
            {/for}
            <div class="space" style="height: .97rem;"></div>
        </div>
    </div>


    <!-- TAB -->
    <div class="tab">
        <div class="shouye">
            <a href="/profect/index.php/index/index"><i class="iconfont">&#xe611;</i></a>
            首页
        </div>
        <div class="list">
            <a href="/profect/index.php/index/index_list"  class="hot"><i class="iconfont">&#xe615;</i></a>
            分类
        </div>
        <div class="shop">
            <a href="/profect/index.php/index_shop/index"><i class="iconfont">&#xe648;</i></a>
            购物车
        </div>
        <div class="user">
            <a href="/profect/index.php/reg/my"><i class="iconfont">&#xe608;</i></a>
            我的
        </div>
    </div>
</div>
</body>
</html>
<script>
    $(function () {
        let items = $('.js_items');
        let listLi = $('.lists>ul>li');
        listLi.on('click',function () {
            let a = $(this).index();
            console.log(a);
            listLi.removeClass('active');
            $(this).addClass('active');
            let top = items.eq(a).offset().top - 50;
            $(window).scrollTop(top);
        });
        $(window).scroll(function () {
            let sct = $(this).scrollTop();
            items.each(function (index, e) {
                if (sct >= $(e).offset().top-100) {
                    listLi.removeClass('active').eq(index).addClass('active');
                }
            });


        });
    });
</script>
