<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
	<link rel="stylesheet" href="{CSS_PATH}index_login.css">
	<link rel="stylesheet" href="https://at.alicdn.com/t/font_463012_i6ecsgt2sgiudi.css">
	<script src="{JS_PATH}rem.js"></script>
	<script src="{JS_PATH}jquery-3.2.1.js"></script>
	<script src="{JS_PATH}index_login.js"></script>
	<title>登陆界面</title>
</head>
<body>
	<div class="login">
		<div class="top">
			<ul>
				<li><img src="{IMG_PATH}login_05.png" alt=""></li>
				<li><img src="{IMG_PATH}login1_05.png" alt=""></li>
				<li><img src="{IMG_PATH}login2_05.png" alt=""></li>
			</ul>
		</div>
		<form class="bottom">
			<input type="text" placeholder="手机号 / 邮箱 / 小米账号" name="regname">

			<input type="password" placeholder="密码" name="regpsd">

			<input type="button" value="登录">
		</form>
		<div class="zc">
			<a href="/profect/index.php/reg/register">注册账户</a>
			<a href="">忘记密码</a>
		</div>
		<div class="dsf">
			<a href=""><i class="iconfont">&#xe643;</i>微信</a>
			<a href=""><i class="iconfont">&#xe654;</i>QQ</a>
			<a href=""><i class="iconfont">&#xe627;</i>微博</a>
		</div>
		<a href="/profect/index.php/reg/my" class="back iconfont">&#xe615;</a>
	</div>
</body>
</html>