<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
	<title>我的</title>
	<script src="{JS_PATH}rem1.js"></script>
	<link rel="stylesheet" href="https://at.alicdn.com/t/font_471281_q3579c31v4lblnmi.css">
	<link rel="stylesheet" href="{CSS_PATH}index3.css">
</head>
<body>

	<div class="header">
	  	<a href="/profect/index.php/reg/loginShow">
	  		<div class="per"><img src="/profect/static/image/KE65LNEjLgWiw6.jpg" alt="" style="width: 100%"></div>
	  		<div class="name">登录/注册</div>
	  	</a>
	</div>
	<div class="log">
		<a href="index6.html">
			<div>我的订单</div>
			<span>全部订单</span>
			<span class="iconfont">&#xe6da;</span>
		</a>
	</div>
	<div class="nav">
		<div class="name">
			<a href="">
				<i class="iconfont">&#xe65d;</i>
				<h1>待付款</h1>
			</a>
		</div>
		<div class="name">
			<a href="">
				<i class="iconfont">&#xe641;</i>
				<h2>待收货</h2>
			</a>
		</div>
		<div class="name">
			<a href="">
				<i class="iconfont">&#xe653;</i>
				<h3>待评价</h3>
			</a>
		</div>
		<div class="name">
			<a href="">
				<i class="iconfont">&#xe62c;</i>
				<h4>退换修</h4>
			</a>
		</div>
	</div>
	<div class="item">
		<ul>
				<li>
					<a href="" style="display: block;width: 100%;height: 100%;">
						<div class="icon">
							<i class="iconfont">&#xe66c;</i>
						</div>
						<div class="name">
							<p>会员福利</p>
							<i class="iconfont">&#xe6da;</i>
						</div>
					</a>
				</li>
				<li>
					<a href="" style="display: block;width: 100%;height: 100%;">
						<div class="icon">
							<i class="iconfont" style="color:#51BBE0">&#xe64d;</i>
						</div>
						<div class="name" style="border:0">
							<p>我的钱包</p>
							<i class="iconfont">&#xe6da;</i>
						</div>
					</a>
				</li>
				<li style="margin-top: 0.2rem;">
					<a href="" style="display: block;width: 100%;height: 100%;">
						<div class="icon">
							<i class="iconfont" style="color:#F96C5E">&#xe63c;</i>
						</div>
						<div class="name">
							<p>服务中心</p>
							<i class="iconfont">&#xe6da;</i>
						</div>
					</a>
				</li>
				<li>
					<a href="" style="display: block;width: 100%;height: 100%;">
						<div class="icon">
							<i class="iconfont" style="color:#FF8B43">&#xe718;</i>
						</div>
						<div class="name">
							<p>小米之家</p>
							<i class="iconfont">&#xe6da;</i>
						</div>
					</a>
				</li>
				<li>
					<a href="" style="display: block;width: 100%;height: 100%;">
						<div class="icon">
							<i class="iconfont" style="color:#90E534;font-size:0.5rem;margin-left: 0.09rem;">&#xe621;</i>
						</div>
						<div class="name" style="border:0">
							<p>更多功能</p>
							<i class="iconfont">&#xe6da;</i>
						</div>
					</a>
				</li>
				<li style="margin-top: 0.2rem;">
					<a href="shezhi.html" style="display: block;width: 100%;height: 100%;">
						<div class="icon">
							<i class="iconfont" style="color:#818C99">&#xe613;</i>
						</div>
						<div class="name" style="border-bottom: none">
							<p>设置</p>
							<i class="iconfont">&#xe6da;</i>
						</div>
					</a>

				</li>
		</ul>
	</div>



	  <!-- 底部 -->
	<div class="tab">
		<div class="shouye">
			<a href="/profect/index.php/index/index"><i class="iconfont">&#xe611;</i></a>
			首页
		</div>
		<div class="list">
			<a href="/profect/index.php/index/index_list"><i class="iconfont">&#xe615;</i></a>
			分类
		</div>
		<div class="shop">
			<a href="/profect/index.php/index_shop/index"><i class="iconfont">&#xe648;</i></a>
			购物车
		</div>
		<div class="user">
			<a href="/profect/index.php/reg/my" class="hot"><i class="iconfont">&#xe608;</i></a>
			我的
		</div>
	</div>
</body>
</html>