<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>APP-后台管理-登陆界面-</title>
    <link rel="stylesheet" href="{CSS_PATH}login.css">
    <script src="{JS_PATH}jquery-3.2.1.js"></script>
    <script src="{JS_PATH}login.js"></script>
</head>
<body>
<div class="login">
    <div class="loginTop">
        <div class="close">
        </div>
        <div class="cr">
            <label class="y" title="登陆">
                <span style="display: none;width: 30px;height: 50px;background: #f1c85f;color: #fff;border-radius: 30px;position: relative;top: 20px;">登陆</span>
            </label>
            <label class="p" title="注册"></label>
            <label class="b"></label>
        </div>
    </div>
    <div class="image">
        <img src="/profect/static/image/avtar.png" alt="">
    </div>
    <div class="loginForm">
        <form>
            <div class="username">
                <input type="text" placeholder="Username" name="username">
            </div>
            <div class="password">
                <input type="password" placeholder="PassWord" name="password">
            </div>
            <div class="regChar">
                <img src="/profect/index.php/login/code" alt="" onclick="this.src='/profect/index.php/login/code?u='+Math.random();">
                <input type="text" placeholder="请输入验证码">
            </div>
        </form>
    </div>

    <div class="loginBottom">
<button type="submit">Login</button>
    </div>
</div>

</body>
</html>